*{
	margin:0;
	padding:0;
}
header
{
	background-color:black;
	height:66px;
	border:2px solid white;
	
}
.image_
{
margin:5px;
background-color:voilet;
max-width:100%;
height:auto;
}
a:link{
	color:white;
}
a:visited
{
	color:wheat;
}
.content h3
{
        background-color:black;
        color:white;
        padding:5px;
        text-align:center;
}
.content
{
	margin:20px 3px 6px;
	padding:8px;
	height:50vh;
	background-color:purple;
	color:lime;
	border:1px solid black;
}
section{
	margin:9px;
	padding:10px;
}
ol{
	margin:4px;
	border:1px solid black;
	border-radius:5px;
	padding:20px;
}
footer
{
	margin:2px;
	text-align:center;
	background-color:lightgrey;
	color:red;
}


